input[type="text"],
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  color: var(--text-body);
  margin-bottom: 1rem;
  &::placeholder {
    color: var(--input-placeholder);
    font: 400 1rem var(--font-body);
  }
}
input[type="text"]:focus,
textarea:focus {
  outline: 1px solid var(--brand-light);
}

.text-input label,
.radio-container > label,
.container-textarea label,
.container-color-radio label,
.theme label,
.container-file-input > label {
  display: block;
  margin-bottom: 0.75rem;
}

#seg-control {
  grid-template-columns: repeat(2, 50% 50%);
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  border-radius: 0.5rem;
  height: 48px;
  padding: 0.25rem;

  & input[type="radio"] {
    display: none;
  }

  img {
    max-width: 1rem;
  }
}
.input-radio {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  font: var(--body-sm);
  color: var(--text-body);
}

.input-radio:has(input[type="radio"]:checked) {
  background-color: var(--shape-button);
  font: var(--body-sm-semibold);
  color: var(--text-heading);
}

.contaniner-radio-color input {
  appearance: none;
  border: 0.5rem solid var(--shape-button);
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
  justify-content: space-between;
}

.theme-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-bottom: 26px;
}
.theme-selection {
  border: 2px solid var(--input-stroke);
  border-radius: 0.5rem;
  padding: 0.25rem;
  display: flex;
  input {
    display: none;
    height: 100%;
  }
  img {
    margin-bottom: 8px;
  }

  label {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}
.theme-selection:hover {
  background-color: var(--shape-hover);
}

.theme-selection:has(input[type="radio"]:checked) {
  border: 2px solid var(--brand-light);
  font: var(--body-sm-semibold);
  color: var(--text-heading);
}

#checkbox1 {
  display: none;
}

.switch {
  margin-top: 0.75rem;
  position: relative;
  display: flex;
  align-items: center;
  width: 4.0625rem;
  height: 2rem;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.slider {
  position: absolute;
  background-color: var(--input-stroke);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.5s linear;
  margin-left: 0.25rem;
}

.escuroouclaro::after {
  content: "Escuro";
  position: absolute;
  left: 80px;
  top: 4px;
}

#checkbox1:checked + .switch {
  background-color: var(--brand-light);
  .slider {
    background-color: var(--text-heading);
  }
  .escuroouclaro::after {
    content: "Claro";
  }
}

#checkbox1:checked + .switch .slider {
  transform: translateX(2rem);
}

.toggle-file {
  display: flex;
  justify-content: space-between;
}

input[type="file"] {
  display: none;
  height: 100%;
}
.button {
  display: flex;
  align-items: center;
  background-color: var(--shape-button);
  font: var(--body-sm-semibold);
  border-radius: 0.5rem;
  width: 120px;
  height: 40px;
  img {
    width: 1rem;
    height: 1rem;
  }
}
.teste {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  width: 100%;
}

.file-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  label:nth-child(2) {
    color: var(--input-placeholder);
  }

}


.text-input input:invalid:active + .error,
.text-input input:invalid:focus + .error
{
  border-color: var(--danger) !important;
  color: var(--danger);
}