
input{
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  color: var(--text-body);
  margin-bottom: 1rem;
  &::placeholder{
    color: var(--input-placeholder);
    font: 400 1rem var(--font-body); ;
  }

}
input:focus{
  outline: 1px solid var(--brand-light);
 
}


label{
  display: block;
  margin-bottom: .75rem;
}
