#app {
  display: grid;
  grid-template-columns: 34.375% 65.625%;
  overflow: hidden;
  background-color: #131516;
  border-radius: 1.25rem;
  margin-top: 5rem;
  width: 80rem;
  margin-inline: auto;
}

aside {
  max-width: 27.5rem;
  margin-left: auto;
  padding: 20px;

  & .background-aside {
    background-image: url(../assets/background/Background.png);
    width: 25rem;
    height: 45.5rem;
    border-radius: 1.25rem;
    padding: 20px;
  }
  img {
    width: 3rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-family: "Leckerli One", cursive;
    font: 400 2.5rem/100% "Leckerli One", cursive;
    color: #ff598b;
    margin-bottom: 0.25rem;
  }
}
main {
  overflow: auto;
  max-width: 52.5rem;
  margin-top: 20px;
  background-color: #212427;
  border-radius: 1.25rem;
  width: 51.25rem;
  height: auto;
  padding: 5rem 8.125rem;
}
